@use "./variables" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $light;
  font-family: $roboto;
  color: $dark;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}
